<!DOCTYPE html>
<html lang="en" ng-app="faceX">

<head>
  <meta charset="UTF-8">
  <title>GREP</title>

  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/site.css">

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.js"></script>

  <script type="text/javascript" src="app.js"></script>
</head>

<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <ul ng-hide="nav" class="nav navbar-nav">
        <li class="pull-left">
          <a href="./index.html">
            <img class="supersmall" src="graphics/little-white-brain.svg">
          </a>
        </li>
        <li class="logonav med">GREP</li>
      </ul>
    </div>
  </nav>

  <div ng-show="nav">
    <main>
      <h1 class="logo big text-center">GRoup Emotion Parser</h1>
      <img src="img/brain.svg" class="logo-big img-responsive center-block">
    </main>
  </div>

  <!-- ******************* -->
  <!-- INITIAL NAV BUTTONS -->
  <!-- ******************* -->

  <div ng-init="nav=true" ng-show="nav">
    <div class="bc">
      <div ng-init="useURL=false" ng-click="useURL=true; nav=false">
        <img class="navbutton" src="img/url_button.svg">
        <p>URL</p>
      </div>
      <div ng-init="useWebCam=false" ng-click="useWebCam=true; nav=false">
        <img class="navbutton" src="img/webcam_button.svg">
        <p>WEBCAM</p>
      </div>
      <div ng-init="useUpload=false" ng-click="useUpload=true; nav=false">
        <img class="navbutton" src="img/upload_button.svg">
        <p>UPLOAD</p>
      </div>
    </div>
  </div>

  <!-- ********** -->
  <!-- USE UPLOAD -->
  <!-- ********** -->

  <div ng-if="useUpload" ng-controller="useUpload as p">
    <main ng-show="waiting">
      <h1 ng-show="waiting" class="text-center blue">Loading Results...</h1>
      <img ng-show="waiting" class="logo-big img-responsive center-block" src="graphics/brain2.gif">
    </main>

    <h1 ng-show="error" class="text-center blue">Server error occurs</h1>
    <img ng-show="error" class="logo-big img-responsive center-block" src="graphics/brain2.gif">

    <main class="display full-height" ng-hide="toHide">
      <div class="container">
        <div class="col-md-4 col-md-offset-4">
          <form ng-submit="p.submit()">
            <div class="form-group">
              <label>
                Choose Photo: <img id="preview" class="preview">
              </label>
              <input class="form-control" type="file" onChange="previewFile()" accept=".png, .jpg, .jpeg" id="getImage">
            </div>
            <div class="form-group">
              <input class="btn btn-default" type="submit">
            </div>
            <div class="form-group" ng-show="p.invalid">
              <p class="text-danger">Please choose a JPG or PNG</p>
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>

  <!-- ******* -->
  <!-- USE URL -->
  <!-- ******* -->

  <div ng-if="useURL" ng-controller="useURL as u">
    <main>
        <h1 ng-show="waiting" class="text-center blue">Loading Results...</h1>
        <img ng-show="waiting" class="logo-big img-responsive center-block" src="graphics/brain2.gif">
        
        <h1 ng-show="error" class="text-center blue">Server error occurs</h1>
        <img ng-show="error" class="logo-big img-responsive center-block" src="graphics/brain2.gif">
        
      <div class="display full-height" ng-hide="toHide">
            <form class="col-md-4" name="sendURL" ng-submit="u.submit()">
              <div class="form-group" ng-class="{'has-error': sendURL.url.$invalid && !sendURL.url.$pristine, 'has-success': sendURL.url.$valid}">

                <label class="control-label" for="url">Image URL: </label>
                <input class="form-control" type="url" id="url" name="url" ng-model="u.url" required>

                <div ng-messages="sendURL.url.$error" ng-show="sendURL.url.$touched">

                  <p class="help-block" ng-message="required">Please enter an image URL</p>
                  <p class="help-block" ng-message="url">Please enter a valid URL</p>

                </div>
              </div>
              <input class="btn" ng-class="{'btn-default': sendURL.url.$pristine, 'btn-danger': !sendURL.url.$valid && !sendURL.url.$pristine, 'btn-success': sendURL.url.$valid}" type="submit">
            </form>
      </div>
    </main>
  </div>

  <!-- ******* -->
  <!--  WEBCAM -->
  <!-- ******* -->

  <div ng-if="useWebCam" ng-controller="useWebCam as w">
    <main>
      <video ng-show="w.showVideo" id="video" class="center-block vid" autoplay></video>
        <h1 ng-show="waiting" class="text-center blue">Loading Results...</h1>
        <img ng-show="waiting" class="logo-big img-responsive center-block" src="graphics/brain2.gif">
      <canvas class="center-block vid" ng-show="w.showCanvas"></canvas>
    </main>
    <div class="bc">
      <div ng-show="w.showVideo" ng-click="w.snapPhoto()">
        <img class="navbutton" src="graphics/webcam_button.svg">
        <p>Snap Photo</p>
      </div>
      <div ng-show="w.showCanvas" ng-click="w.submit()">
        <img class="navbutton" src="graphics/predict_button.svg" alt="">
        <p>Predict!</p>
      </div>
      <div ng-show="w.showCanvas" ng-click="w.retake()">
        <img class="navbutton" src="graphics/retake_button.svg">
        <p>Retake Photo</p>
      </div>
    </div>
  </div>

  <!-- ******* -->
  <!-- RESULTS -->
  <!-- ******* -->

  <div ng-init="results_received=false"
    ng-if="results_received"
    ng-controller="results as res">

    <div class="vert result">
      <div class="rel og" id="imgcontainer" ng-hide="res.hideImg">
        <img class="abs" crossorigin="anonymous" ng-src="{{original}}" id="og">
      </div>
      <canvas class="og" id="canvas" ng-hide="res.hideCanvas"></canvas>
    </div>

    <div class="bc">
      <div>
        <img src="graphics/download_button.svg" class="navbutton" ng-click="res.save()" >
        <p>DOWNLOAD</p>
      </div>
      <div>
        <a href="./index.html"">
          <img src="graphics/retake_button.svg" class="navbutton">
        </a>
        <p>MEME AGAIN</p>
      </div>
    </div>

    <div class="container">
      <div ng-if="res.nofaces">
        <div class="bc">
          <a href="./index.html"">
            <img class="navbutton" src="graphics/retake_button.svg">
          </a>
        </div>
        <div class="well display">
          <h1>Whoops! Emoji Brain didn't detect any faces. 😭</h1>
        </div>
      </div>
      <div ng-repeat="face in results.faces">
        <div class="well display">
          <div>
            <img class="tn" ng-src="{{face.thumbnail}}">
          </div>
          <div ng-repeat="result in face.prediction">
            <p><img class="emoji" ng-class="{'bigger': res.isBiggest(face.index,result)}" ng-src="{{result.emotion | emoji }}" alt=""></p>
            <p class="text-center">{{result.percent | percent }}%</p>
          </div>
          <div ng-if="!res.submitted[face.index]">
            <p>Looks correct?</p>
            <p class="correct text-center"><a ng-click="res.confirm(face)">👍</a> <a ng-click="res.getFeedback(face)">👎</a></p>
          </div>
          <div ng-if="res.submitted[face.index]">
            <p class="text-success">Thanks!</p>
          </div>
        </div>

        <!-- SUBMIT FEEDBACK -->
        <div class="well clearfix" ng-if="res.feedback[face.index]">
          <div class="col-md-4">
            <img ng-src="{{face.thumbnail}}">
          </div>
          <form class="col-md-4" ng-submit="res.submitFeedback(face)">
            <div class="form-group">
              <label>Please choose the most correct emotion: </label>
              <select ng-model="res.emote[face.index]" class="form-control" required>
                <option></option>
                <option value="angry">😡 Angry</option>
                <option value="fear">😨 Fear</option>
                <option value="happy">😀 Happy</option>
                <option value="sad">😢 Sad</option>
                <option value="surprise">😮 Suprise</option>
                <option value="neutral">😐 Neutral</option>
              </select>
            </div>
            <input class="btn btn-default" type="submit">
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- ******* -->
  <!--  FOOTER -->
  <!-- ******* -->

  <footer>
    <div class="container">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-5">
            <a href="https://github.com/PAN001/GREP">
              <img class="avatar" src="graphics/little-white-brain.svg" alt="">
            </a>
          </div>
          <div class="col-md-7">
            <p><strong>GRoup Emotion Parser (GREP)</strong> is an interactive emotion recognition system that detects emotions based on facial expressions from image of group of people. The core of the app is a deep convolutional neural network that predicts the compositions of the emotions expressed by the group.
            </p>
            <p>For the technology used behind the application, please visit: <a href="https://github.com/PAN001/GREP">github.com/PAN001/GREP</a></p>
            </div>
<!--           <div class="col-md-5">
            <a href="http://www.galvanize.com/courses/data-science">
              <img class="avatar" src="graphics/g-school.svg" alt="">
            </a>
          </div>
          <div class="col-md-7">
            <p><strong>Galvanize</strong> gives you the tools, techniques, and fundamental concepts needed to make an impact as a data scientist. In just 12 weeks, you'll apply problem-solving and creative thinking to real-world data sets, gaining experience across the data science stack: data munging, exploration, modeling, validation, visualization, and communication.</p>
            <p><a href="http://www.galvanize.com/courses/data-science">Galvanize.com/data-science</a></p>
          </div>
 -->
        </div>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <div class="row">
          <div class="col-md-5">
            <a href="#">
              <img class="avatar profile" src="graphics/avator.jpg" alt="">
            </a>
          </div>
          <div class="col-md-7">
            <row>
              <div class="col-md-6">
                <img class="link" src="graphics/linkedin.svg">
                <a href="https://www.linkedin.com/in/yichen-pan-512399a7/" target="_blank">LinkedIn</a>
              </div>
              <div class="col-md-6">
                <img class="link" src="graphics/github.svg">
                <a href="https://github.com/PAN001" target="_blank">GitHub</a>
              </div>
            </row>
            <p><strong>Yichen (Eason) </strong> is an undergraduate student at University of Nottingham Ningbo China. He has been devoted to being computer scientist since the university. Constantly involved in interdisciplinary research in computer science. Interested in programable data collection, process and analysis, machine learning, NLP and deep learning. Experienced in application development.</p>
          </div>
        </div>
        <div class="row">
          <!-- <hr> -->
          <br>
        </div>
<!--         <div class="row">
          <div class="col-md-5">
            <a href="http://mrpeech.com">
              <img class="avatar profile" src="https://avatars1.githubusercontent.com/u/6421349?v=3&s=460" alt="">
            </a>
          </div>
          <div class="col-md-7">
            <row>
              <div class="col-md-6">
                <img class="link" src="graphics/linkedin.svg">
                <a href="www.linkedin.com/in/chris-impicciche">LinkedIn</a>
              </div>
              <div class="col-md-6">
                <img class="link" src="graphics/github.svg">
                <a href="https://github.com/Peechiz">GitHub</a>
              </div>
            </row>
            <p>
              <strong>Chris Impicciche</strong> is a Full-Stack Web Developer 💻  living in Austin, TX 🌮. When he's not making webapps, chances are he's either gaming 🎮🎲 with his friends, making something tasty in the kitchen 🍪🍛, or out watching Roller Derby 💀🔥.
            </p>
          </div>
        </div> -->
      </div>
    </div>
  </footer>

  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
</body>

</html>
